$th-primary: hsl(225, 88, 65);
$th-warning: hsl(45, 97, 57);
$th-success: hsl(150, 50, 57);
$th-danger: hsl(354, 90, 72);

$th-txt-dark: hsl(225, 29, 17);
$th-txt-dark-grey: hsl(225, 29, 63);
$th-txt-light-grey: hsl(225, 29, 85);
$th-txt-light: hsl(225, 29, 95);
